@import "scss/style";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #88888853;
  border-radius: 5px;
  width: 12px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-resizer {
  background: #8888887d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8888887d;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: AvenirNext;

  height: 100%;
  width: 100%;
  position: relative;

  background-color: ghostwhite;

  display: flex;
  justify-content: center;
  align-items: center;

  overscroll-behavior-y: none !important;
  //position: fixed !important;
  overflow: hidden !important;

  //-webkit-overflow-scrolling: touch;
  //height: calc(var(--vh, 1vh) * 100);

  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

#__next {
  padding: 0;
  margin: 0;
  font-family: AvenirNext;

  height: 100%;
  width: 100%;
  position: relative;

  background-color: ghostwhite;

  display: flex;
  justify-content: center;
  align-items: center;

  overscroll-behavior-y: none !important;
  //position: fixed !important;
  overflow: hidden !important;

  //-webkit-overflow-scrolling: touch;
  //height: calc(var(--vh, 1vh) * 100);

  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  overscroll-behavior-y: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: none;
}

#__portal {
  padding: 0;
  margin: 0;
  font-family: AvenirNext;
  position: absolute;

  height: 100%;
  width: 100%;

  //-webkit-overflow-scrolling: touch;
  //height: calc(var(--vh, 1vh) * 100);

  pointer-events: none;

  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
